@import "ui-kit/variables";
@import "ui-kit/mixins";

.cherry-ui-container{
	margin: 10px 0 20px 0;
}
label.cherry-label{
	margin: 0 0 5px 0;
	display: block;
}
.hide{
	display: none !important;
}
select.cherry-ui-select{
	width: 100%;
	outline: 0 none;
	color: $dark_color;
	@include input();
	&:focus{
		border-color: none;
		box-shadow: none;
	}

}
select.select2-hidden-accessible{
	display: none;
}
.select2{
	color: $dark_color;
	background-color: $bg_color;
	border-radius: $border_radius_extra_small;
	border: 1px solid $border_color;
	.selection{
		.select2-selection{
			&.select2-selection--single{
				background-color: transparent;
				border: none;
				border-radius: $border_radius_extra_small;
				height: 50px;
				.select2-selection__rendered{
					padding: 15px 20px;
					font-size: 14px;
					line-height: 20px;
				}
				.select2-selection__arrow{
					height: 50px;
				}
			}
			&.select2-selection--multiple{
				background-color: transparent;
				border: none;
				border-radius: $border_radius_extra_small;
				.select2-selection__rendered{
					font-size: 14px;
					line-height: 20px;
					padding: 0;
					display: block;
					.select2-selection__choice{
						line-height: 20px;
						margin: 5px;
						border: none;
						background-color: $dark_color;
						border-radius: $border_radius_extra_small;
						color: #fff;
						padding: 10px;
						.select2-selection__choice__remove{
							color: $remove_color;
							margin-right: 10px;
						}
					}
					.select2-selection__clear{

					}
					.select2-search{
						margin: 0;
						.select2-search__field{
							padding: 0;
							margin: 15px 10px;
							border: none;
							box-shadow: none;
							line-height: 20px;
						}
					}
				}
			}
		}
	}
}
.select2-container{
	.select2-dropdown{
		background-color: $bg_color_2;
		border: none;
		border-radius: $border_radius_extra_small;
		margin: 5px 0;
		box-shadow: 0px 5px 21px rgba(0,0,0,0.1);
		z-index: 500001;
		&.select2-container--open, &.select2-dropdown--below{}
		.select2-search__field{
			border: none;
			box-shadow: none;
			border-radius: $border_radius_extra_small;
			margin: 0;
			&:focus{
				outline: none;
			}
		}
		.select2-results{
			.select2-results__options{
				.select2-results__option{

					&[aria-selected=true]{
						color: #fff;
						background-color: $primary_color;
					}
					&--highlighted{
						color: #fff;
						background-color: $dark_color;
					}
				}
				.li[aria-disabled=true]{
					display: none;
				}
			}
		}
	}
}
