$light_color: #ffffff;
$dark_color: #23282d;

$switcher_bg_color: #f1f1f1;
$switcher_border_color: #dcdcdc;

$true_state_gradint_1: #71e18f;
$true_state_gradint_2: #49c66a;
$true_state_outset_1: #43b05f;
$true_state_outset_2: #3b9b54;

$false_state_gradint_1: #f98888;
$false_state_gradint_2: #e64545;
$false_state_outset_1: #e54545;
$false_state_outset_2: #c13b3b;
