@import "ui-kit/variables";
@import "ui-kit/mixins";

.cherry-ui-container{
	margin: 10px 0 20px 0;
}
label.cherry-label{
	margin: 0 0 5px 0;
	display: block;
}
textarea.cherry-ui-textarea{
	width: 100%;
	@include input();
	height: 200px;
}
