@import "ui-kit/variables";
@import "ui-kit/mixins";

.cherry-ui-container{
	margin: 10px 0 20px 0;
}
label.cherry-label{
	margin: 0 0 5px 0;
	display: block;
}
.hide{
	display: none !important;
}
input.cherry-radio-input{
	display: none;
}
.cherry-radio-item{
	margin-bottom: 10px;
	&:last-child{
		margin-bottom: 0;
	}
	label{
		display: inline-block;
		font-size: 14px;
		line-height: 22px;
		color: $dark_color_1;
	}
	span{
		width: 25px;
		height: 25px;
		border-radius: 25px;
		margin-right: 10px;
		cursor: pointer;
		position: relative;
		background-color: $grey_color_3;
		display: inline-block;
		float: left;
			i{
				width: 13px;
				height: 13px;
				background-color: $blue_color;
				margin: 6px;
				border-radius: 20px;
				display: inline-block;
				transform: scale(0);
				transition: all 0.4s cubic-bezier(0.77, 0, 0.175, 1);
			}
	}
}
.cherry-radio-item{
	.cherry-radio-input:checked{
		& + label{
			span{
				i{
					transform: scale(1);
				}
			}
		}
	}
}
.cherry-radio-img {
	float: left;
	margin: 10px 5px 0 5px;
	text-align: center;
	max-width: 80px;
	position: relative;
	label{
		display: inline-block;
	}
	img {
		width: 100%;
		height: auto;
		margin: 0 0 5px 0;
		pointer-events: none;
	}
}
.cherry-radio-img{
	.cherry-radio-input:checked{
		& + label{
			font-weight: bold;
			.check{
				display: block;
			}
			img{
				box-shadow: 0 0 0 2px rgba(255, 254, 255, 1), 0 0 0 5px $blue_color;
			}
		}
	}
}
