@import "ui-kit/variables";
@import "ui-kit/mixins";

$font_size: 14px;

.cherry-ui-container{
	margin: 10px 0 20px 0;
}
label.cherry-label{
	margin: 0 0 5px 0;
	display: block;
}
.cherry-ui-colorpicker-wrapper{
	background-color: $grey_color_3;
	padding: 5px;
	max-width: 230px;
	height: 46px;
	box-sizing: border-box;
}
.cherry-ui-colorpicker-wrapper, .customize-control-content{
	& .wp-picker-container{
		display: block;

		position: relative;
		z-index: 1000;
		&:active{
			display: block;
		}
		> .wp-color-result{
			margin: 0;
			border-radius: $border_radius_extra_small;
			display: block;
			border: none;
			box-shadow: none;
			height: auto;
			padding-left: 35px;
			&:after{
				padding:7px 0px;
				font-size: $font_size;
				border-left: none;
			};
			&:focus, &:active{
				outline: none;
				border: 1px solid rgba(41, 143, 252, .6);
				box-shadow: 0px 0px 2px rgba(41,143,252,0.6);
			}
		}
		> .wp-picker-input-wrap{
			display: none;
			display: flex;
			width: calc(100% - 40px);
			max-width: calc(100% - 40px);
			float: right;
			&:after{
				content: '.';
				clear: both;
				visibility: hidden;
				height: 0;
			};
			input[type="text"]{
				padding: 8px 10px 9px;
				font-size: $font_size;
				max-width: 100%;
				flex-grow: 1;
			}
			input[type="button"]{
				height: auto;
				border: none;
				border-radius: $border_radius_extra_small;
				box-shadow: none;
				padding: 6px 10px 7px;
				font-size: $font_size;
				margin-left: 5px;
				flex-shrink: 0;
			}
		}
		&.wp-picker-active{
			> .wp-color-result{
				height: 35px;
				width: 0;
				display: inline-block;
				margin-right: 5px;
				&:after{
					display: none;
				}
			}
			> .wp-picker-input-wrap{
				display: inline-flex;
			}
		}
	}
}
