@import "ui-kit/variables";
@import "ui-kit/mixins";

.cherry-ui-container{
	margin: 10px 0 20px 0;
}
label.cherry-label{
	margin: 0 0 5px 0;
	display: block;
}
.wp-picker-container{
	display: block;
	background-color: $grey_color_3;
	border-radius: $border_radius_extra_small;
	display: inline-block;
	padding: 8px;
	max-width: 380px;
	a.wp-color-result{
		border: medium none;
		box-shadow: none;
		height: 35px;
		margin: 0;
		border-radius: 0;
		padding-left: 36px;
		&:after{
			background-color: $grey_color_3;
			border: medium none;
			border-radius: 0;
			line-height: 36px;
			font-size: 14px;
			color: $dark_color_1;
			padding: 0 80px 0 20px;
		}
		@media screen and (max-width: 782px){
			height: 36px;
			&:after{
				line-height: 36px;
			}
		}
	}
	.wp-picker-holder{
		position: absolute;
		z-index: 1000;
	}
	.wp-picker-input-wrap{
		input[type="text"]{
			padding: 7px 4px;
		}
		input.wp-picker-clear{
			height: 32px;
		}
	}
}
