.cherry-ui-container{
	margin: 10px 0 20px 0;
}
label.cherry-label{
	margin: 0 0 5px 0;
	display: block;
}
input.cherry-ui-text{
	border: 1px solid #dddcdc;
	border-radius: 3px;
	margin: 0;
	padding: 6px;
	background-color: #fff;
	transition: border-color 0.05s ease-in-out 0s;
	outline: 0 none;
	color: #333;
}