@import "ui-kit/variables";
@import "ui-kit/mixins";

.cherry-ui-container{
	margin: 10px 0 20px 0;
}
label.cherry-label{
	margin: 0 0 5px 0;
	display: block;
}
.cherry-switcher-wrap{
	height: 49px;
	border-radius: 25px;
	display: inline-block;
	overflow: hidden;
	position: relative;
	cursor: pointer;
	user-select: none;
	label{
		height: 49px;
		background-color: $red_color;
		display: block;
		float: left;
		transition: all 0.2s ease-in-out;
		span{
			font-size: 12px;
			line-height: 19px;
			font-weight: 800;
			text-transform: uppercase;
			color: #fff;
			padding: 15px;
			text-align: center;
			display: block;
			opacity: 1;
			transition: all 0.2s ease-in-out;
		}
	}
	.sw-enable{
		span{
			opacity: 0;
		}
	}
	.sw-disable{
		span{
			opacity: 1;
		}
	}
	.state-marker{
		background-color: #fff;
		display: block;
		position: absolute;
		width: 41px;
		height: 41px;
		margin: 4px;
		top: 0;
		left: 0;
		margin-left: 4px;
		border-radius: 25px;
		transition: all 0.2s ease-in-out;
	}
	&.selected{
		.sw-enable{
			background-color: $green_color;
				span{
					opacity: 1;
				}
		}
		.sw-disable{
			background-color: $green_color;
				span{
					opacity: 0;
				}
		}
		.state-marker{
			left: 100%;
			margin-left: -45px;
		}
	}
	&.size-small{
		height: 25px;
			label{
				height: 25px;
					span{
						font-size: 10px;
						line-height: 15px;
						padding: 5px;
					}
			}
			.state-marker{
				width: 17px;
				height: 17px;
				margin-left: 4px;
			}
			&.selected{
				.state-marker{
					left: 0;
					margin-left: 33px;
				}
			}
	}
}
