@import "ui-kit/variables";
@import "../../../../assets/sass/lock";

.cherry-ui-container{
	margin: 10px 0 20px 0;
}
label.cherry-label{
	margin: 0 0 5px 0;
	display: block;
}
.hide{
	display: none !important;
}
.cherry-switcher-wrap{
	height: 20px;
	border-radius: 25px;
	display: inline-block;
	overflow: hidden;
	position: relative;
	cursor: pointer;
	user-select: none;
	background-color: white;

	&:after {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
		pointer-events: none;
		border-radius: 25px;
		content: '';
	}

	label{
		display: block;
		float: left;
		background-color: #eceeef;
		transition: all 0.4s ease;

		span{
			font-size: 7px;
			line-height: 12px;
			text-transform: uppercase;
			color: #a4afb7;
			text-align: center;
			display: block;
			opacity: 1;
			transition: all 0.4s ease;
		}
	}

	.sw-enable{
		padding: 4px 4px 4px 12px;
		span{
			opacity: 0;
		}
	}

	.sw-disable{
		padding: 4px 12px 4px 4px;
		span{
			opacity: 1;
		}
	}

	.state-marker{
		background-color: white;
		display: block;
		position: absolute;
		width: 18px;
		height: 18px;
		margin: 1px;
		top: 0;
		left: 0;
		border-radius: 50%;
		transition: all 0.4s cubic-bezier(0.77, 0, 0.175, 1);
		box-sizing: border-box;
	}
	.cherry-input-switcher{
		display: none;
	}
	.cherry-input-switcher-true:checked{


		~ .sw-enable{
			background-color: #49c66a;

			span{
				opacity: 1;
				color: white;
				text-shadow: 0 1px rgba(0, 0, 0, 0.2);
			}
		}
		~ .sw-disable{
			background-color: #49c66a;

			span{
				opacity: 0;
			}
		}
		~ .state-marker{
			left: 100%;
			margin-left: -19px;
		}
	}
}
